---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="bygerman - developer">
	<main>
		<h1 id="about" class="header">
			Elevating <span>Ideas</span> into <code>&lt;/code&gt;</code>
		</h1>

		<Presentation />
		<Experience id="experience" />
		<Projects id="projects" />
		<Skills id="skills" />
	</main>

	<Footer />
</Layout>

<style>
	main {
		padding: 16px;
		margin-bottom: 42px;
	}

	.header {
		font-size: 3rem;
		text-align: center;
		margin-top: 8rem;
		margin-bottom: 8rem;
		font-size: clamp(2.5rem, 3rem, 4rem); /* clamp(min, pref, max) */
		text-wrap: balance;
	}

	.header span {
		color: #ff6b6b;
	}

	code {
		color: #6bffd3; /* #FF8B6B, #6B8BFF */
	}
</style>
