---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Presentation from "../components/Presentation.astro";
---

<Layout title="bygerman - developer">
	<main>
		<h1 class="header">
			Elevating <span>Ideas</span> into <code>&lt;/code&gt;</code>
		</h1>

		<Card>
			<Presentation />
		</Card>
	</main>
</Layout>

<style>
	.header {
		font-size: 3rem;
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	.header span {
		color: #ff6b6b;
	}

	code {
		color: #6bffd3; /* #FF8B6B, #6B8BFF */
	}

	.social {
		display: flex;
		flex-direction: row;
		gap: 32px;
	}
</style>
