---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="bygerman - developer">
	<main>
		<h1 class="header">
			Elevating <span>Ideas</span> into <code>&lt;/code&gt;</code>
		</h1>

		<Presentation />
		<Experience />
		<Projects />
		<Skills />
	</main>
	
	<Footer/>
</Layout>

<style>
	main {
		margin-bottom: 42px;
	}

	.header {
		font-size: 3rem;
		text-align: center;
		margin-top: 8rem;
		margin-bottom: 8rem;
	}

	.header span {
		color: #ff6b6b;
	}

	code {
		color: #6bffd3; /* #FF8B6B, #6B8BFF */
	}
</style>
