---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="bygerman - Home">
	<main>
		<h1>Elevating <span>ideas</span> into <code>code</code></h1>

		<Card
			href="https://docs.astro.build/"
			title="Documentation"
			body="Learn how Astro works and explore the official API docs."
		/>
	</main>
</Layout>

<style is:global>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		color: white;
		line-height: 1.6;
	}

	a {
		text-decoration: none;
		color: white;
	}
</style>
