---
import SocialPill from "./ui/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import { Target } from "../models/enums.ts";
import Card from "./ui/Card.astro";

const {id} = Astro.props;
---

<Card>
  <h1>Hi, I'm Brayan Germán</h1>

  <p>
    Passionate about software development, I have demonstrated ease in mastering
    new knowledge and technologies effortlessly, as well as my motivation to
    apply them in projects 🚀.
  </p>

  <div class="social">
    <SocialPill
      href="https://www.linkedin.com/in/brayan-germ%C3%A1n-mamani-rojas-131467251/"
    >
      <LinkedInIcon slot="icon" width="20" height="20" color="white" />
      <p slot="text">LinkedIn</p>
    </SocialPill>

    <SocialPill href="https://github.com/by-German">
      <GitHubIcon slot="icon" width="20" height="20" color="white" />
      <p slot="text">GitHub</p>
    </SocialPill>

    <!-- TODO: Add copy paste email -->
    <SocialPill href="mailto:by.german@outlook.com" target={Target.Self}>
      <MailIcon slot="icon" width="22" height="22" color="white" />
      <p slot="text">by.german@outlook.com</p>
    </SocialPill>
  </div>
</Card>



<style>
  h1 {
    font-size: 26px;
    margin: 8px 0px;
    color: #fcb29e;
  }

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 32px;
  }
</style>
