---
import SkillItem from "./SkillItem.astro";

const { title, skills } = Astro.props;
---

<div class="skills-container">
  <h3>{title}</h3>
  <ul class="display-grid">
    {
      skills.map((skill: any) => (
        <li>
          <SkillItem skill={skill} />
        </li>
      ))
    }
  </ul>
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 16px;
  }

  .skills-container > h3 {
    font-size: 1.5rem;
    color: #ababab;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }

  @media screen and (max-width: 415px) {
    .display-grid {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
  }

</style>
