---
import MetaLayout from "./MetaLayout.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description? : string;
}

const { title, description } = Astro.props;
---

<MetaLayout title={title} description={description}>
	<div class="background"></div>
	<Header />
	<slot />
</MetaLayout>

<style is:global>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 800px;
		color: white;
		line-height: 1.6;
	}

	a {
		text-decoration: none;
		color: white;
	}

	.background {
		position: fixed;
		top: 0;
		z-index: -2;
		height: 100vh;
		width: 100vw;
		background-color: #111827; /* Puedes ajustar este color según tus necesidades */
		background-image: radial-gradient(
			ellipse 80% 80% at 50% -20%,
			rgba(120, 119, 198, 0.3),
			rgba(255, 255, 255, 0)
		);
	}
</style>
