---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="chip">
  <span>{text}</span>
</div>

<style>
  .chip {
    padding: 2px 16px;
    background-color: #14222e;
    border-radius: 16px;
  }
  .chip > span {
    font-weight: 400;
    color: #71afe1 ;
  }
</style>
