---
import { Target } from "../../models/enums.ts";

interface Props {
  href: string;
  target?: Target;
}

const { href, target = Target.Blank } = Astro.props;
---

<a href={href} target={target}>
  <slot name="icon" />
  <slot name="text" />
  <slot name="icon-after" />
</a>

<style>
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  a {
    color: #ababab;
  }

  a:hover {
    color: white;
  }
</style>
